<div id="myCarousel">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="image1 in images" active="image1.active">
        <!-- <a ui-sref="show_product"> -->
          <img class="home-image" ng-src="{{image1.image}}">
        <!-- </a> -->
        <div class="carousel-caption">
          <h4>Slide {{$index+1}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class="container text-center">    
  <h3>New Products</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <a ui-sref="show_product({id:1})">
        <img src="http://cdn2.gsmarena.com/vv/pics/xiaomi/xiaomi-redmi-4a-0.jpg" class="img-responsive" style="width:100%" alt="Image">
        <br><p>Xiaomi mi Redmi 4A </p>
      </a>
    </div>
    <div class="col-sm-4"> 
      <a ui-sref="show_product({id:2})">
        <img src="http://ecx.images-amazon.com/images/I/81DsBcY7DeL._SL1500_.jpg" class="img-responsive" style="width:100%; height: 435px" alt="Image">
        <br><p>WD External Hard drive (Black)</p> 
      </a>   
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
      </div>
      <div class="well">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
       proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div><br>