1<div id="myCarousel" data-ng-init="apis_up()">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="image1 in images" active="image1.active">
        <!-- <a ui-sref="show_product"> -->
          <img class="home-image" ng-src="{{image1.image}}">
        <!-- </a> -->
        <div class="carousel-caption">
          <h4><em>{{image1.name}}</em></h4>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class="container text-center">    
  <h3>New Products</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <a ui-sref="show_product({id:1})">
        <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/v1609572111/public/market-app/xiaomi-redmi-4a-0.jpg" class="img-responsive" style="width:100%" alt="Image">
        <br><p>Xiaomi mi Redmi 4A </p>
      </a>
    </div>
    <div class="col-sm-4"> 
      <a ui-sref="show_product({id:2})">
        <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/v1609572101/public/market-app/81DsBcY7DeL._SL1500_.jpg" class="img-responsive" style="width:100%; height: 435px" alt="Image">
        <br><p>WD External Hard drive (Black)</p> 
      </a>   
    </div>
    <div class="col-sm-4">
      <div class="well">
       <b>
        Products Features
       </b> 
       <p></p><p><b>WD Elements 1TB USB 3.0 Portable External Hard Drive (Black) </b></p> <b> High Storage Capacity, Maximum Transfer Rate</b> <p> Simplify your storage needs with the WD Elements 1TB USB 3.0 Portable External Hard Drive. The lightweight hard drive comes with 1 TB storage capacity, enabling you to store all your favourite movies, TV shows, games, music, videos and more at one place. With its USB 3.0 connectivity, the hard drive ensures speedy file transfers. Apart from the USB 3.0 devices, the WD 1TB hard drive establishes backward compatibility with USB 2.0 devices as well. </p> <p></p>
      </div>
      <div class="well">
       <p>
         <b>Xiaomi mi Redmi 4A</b>
         <p>
          1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase
         </p>
       </p>
      </div>
    </div>
  </div>
</div><br>