<nav class="navbar navbar-light bg-faded menu" ng-controller="nav-controller">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" style="color: #ccc;" href="#">MarketApp
      </a>	
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
	     <div class="col-sm-6 col-md-6">
	      <form class="navbar-form" role="search">
	      <div class="input-group" style="width: 88%">
          <input type="text" class="form-control " placeholder="Search" ng-model="search_text" name="q">
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="search_product(search_text)" type="button"><i class="glyphicon glyphicon-search"></i></button>
          </div>
	      </div>
	      </form>
	    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="index_product"><span class="glyphicon glyphicon-shopping-cart"></span> Today Offers </a></li>

        <li ng-hide="globals.currentUser"><a href="/#!/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li ng-hide="globals.currentUser"><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

        <li ng-show="globals.currentUser"><a href="#!/product"><span class="glyphicon glyphicon-log-in"></span> Create Product</a></li>

        <li ng-show="globals.currentUser" class="dropdown">
          <a href="#" class="bg dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span> 
          Hi {{globals.currentUser.user_name}}
          <b class="caret"></b></a>
          <ul class="bg dropdown-menu">
            <li><a ui-sref="index_order()">Your orders</a></li>
            <li><a ui-sref="edit_profile">Edit Profile</a></li>
            <li><a ng-click="sign_out()">Sign Out</a></li>
          </ul>
        </li>
        <li><a ui-sref="product_order" style="color: rgba(224, 224, 83, 0.83)">{{cart_product.length}} <span style="font-size: 18px;" class="glyphicon glyphicon-shopping-cart yellow"></span> Cart </a></li>
      </ul>
    </div>
  </div>
</nav>