<div class="container" style="margin-top: 2%" ng-init="show_order()">
  <div class="row">
    <div class="col-md-offset-2">
      <div class="row">
        <div class="col-md-8">
          <p>
            {{globals.currentUser.user_name}}<br>
            {{globals.currentUser.user_email}}<br>
            Lorem ipsum dolor sit amet, 
            proident, sunt in culpa qui officia deserunt orum.<br>
            consectetur adipisicing elit, sed do eiusmod<br>
            tempor incididunt ut labore et dolore magna aliqua.<br>
            cillum dolore eu<br>
          </p>
        </div>
        <div class="col-md-4">
          Total        :- {{order.total | currency:'&#8377; '}}<br>
          Created Date :- {{order.placements[0].created_at | date:"dd/MM/yyyy"}}<br><br>
          <!-- <a class="btn btn-success" role="button">Give Your Review</a> -->
        </div>
      </div>

      <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-10 ">
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th>Created</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th class="text-center">Price</th>
                          <th class="text-center">Total</th>
                          <th class="text-center">Review </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in order.products">
                          <td class="text-center">{{order.placements[$index].created_at | date:"dd/MM/yyyy"}}</td>
                          <td class="col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" ui-sref="show_product({id:product.id})"> <img class="media-object" ng-src="{{product.adds_image}}" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a ui-sref="show_product({id:product.id})">{{product.title}}</a></h4>
                                    <span>Status: </span><span class="text-warning"><strong>Delivered</strong></span>
                                </div>
                            </div>
                          </td>
                          <td class="col-md-1 text-center"><strong>{{order.placements[$index].quantity}}</strong></td>
                          <td class="col-md-1 text-center"><strong>{{product.price | currency:'&#8377;'}}</strong></td>
                          <td class="col-md-1 text-center"><strong>{{product.price * order.placements[$index].quantity | currency:'&#8377;'}}</strong></td>
                            
                          <td class="col-md-1">
                            <button ui-sref="show_product({id:product.id})" type="button" class="btn btn-success">
                              <span ></span> Give Your Review
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>   </td>
                          <td>   </td>
                          <td>   </td>
                          <td><h3>Total</h3></td>
                          <td class="text-right">
                            <h3><strong>{{order.total | currency:'&#8377;'}}</strong></h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
  </div> 
</div>   