.product-preview {
	word-wrap: break-word;
	/*word-wrap: break-all;*/
	padding-right: 8px
}

button:disabled {
  background: #999;
  color: #e0e0e0;
}

.item-photo {
	display:flex;
	justify-content:center;
	align-items:center;
	border-right:4px solid #f6f6f6;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: rgba(183, 159, 60, 0.98);
}

.product-title, .rating, .price {
  margin-bottom: 15px;
}

.sell {
  margin-top: 6%;
}

.stock {
  color: green;
  margin-top: -2%;
}

#product-show {
  padding-left: 3%;
  width:100%;
  height:486px;
}

.carousel-inner > .item > .product-img {
  display: block;
  width: 100%;
  height: 450px;
  padding-right: 20px;
  padding-left: 20px;
}

.carousel-inner > .item > .product-image {
  display: block;
  width: 100%;
  height: 310px;
  padding-right: 20px;
  padding-left: 20px;
}

.product-carousel {
  width:100%;
  height:310px;
}

/*.carousel-inner > .item > a > img.home-image {*/
.carousel-inner > .item > img.home-image {
  width: 100%;
  height:550px;
}

.caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        background:#000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.caption h4 {
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.products-filter {
  margin-left: 5px;
}